:root {
    --areia_back: #E9DAC1;
    --azul_claro_back: #21A09D;
    --azul_escuro_back: #2C3333;
    --mochila_back_vermelho: #9ED2C6;
    --mochila_shadow_vermelho: #54BAB9;
    --mochila_shadow_roxo: #395B64;
    --mochila_border_roxo: #395B64;
    --mochila_back_img_vermelho: #54BAB9;
    --mochila_before_vermelho: #9ED2C6;
    --mochila_before_roxo: #395B64;
    --mochila_before_box_shadow_vermelho: #54BAB9;
    --mochila_after_back: #F2DEBA;
    --cadastrar_roxo: #395B64; 
    --branco: #ffffff;
  }

html {
    background: radial-gradient(farthest-corner at right top, var(--azul_claro_back), var(--azul_escuro_back));
    height: 100%;
    font-family: 'Roboto', cursive;
}

.conteudo {
    padding: 10vh 3em 0;
    display: flex;
    align-items: flex-start;
    gap: 2em;
}

.principal {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 600px;
    padding: 4em 2em 2em;
    box-sizing: border-box;
    display: flex;
    background: var(--areia_back);
    border-radius: 10px;
    gap: 2em;
}
  
.mochila {
    min-width: 170px;
    max-width: 170px;
    height: 180px;
    padding-top: 80px;
    background-color: var(--mochila_back_vermelho);
    box-shadow: inset 0 6px 0 2px var(--mochila_shadow_vermelho), 0 -93px 0 -77px var(--mochila_shadow_roxo), 0 -93px 0 -72px var(--mochila_back_vermelho), 0 -93px 0 -68px var(--mochila_shadow_roxo);
    background-image: linear-gradient(to right, transparent 5px, transparent 20px, transparent 1px, transparent 25px, transparent 5px, transparent 20px, transparent 20px, transparent 86px, var(--mochila_back_img_vermelho) 45px, var(--mochila_back_img_vermelho) 230px, transparent 25px, transparent 172px );
    background-position: center 254px;
    background-size: 305px 6px;
    background-repeat: repeat-x; 
    border: 5px solid var(--mochila_border_roxo);
    border-radius: 85px 85px 44px 44px;
    display: inline-block;
    vertical-align: top;
    flex-basis: auto;
    flex-grow: 1;
}
  
.mochila:before, .mochila:after {
    display: block;
    content: '';
    position: absolute;
  }
  
.mochila:before {
    height: 75px;
    width: 118px;
    background-image: radial-gradient(circle closest-corner at 13px 29px , var(--mochila_before_vermelho),  var(--mochila_before_vermelho) 2px, transparent 2px, transparent), radial-gradient(circle closest-corner at 13px 29px , var(--mochila_before_roxo), var(--mochila_before_roxo) 4px, transparent 4px, transparent), linear-gradient(to bottom, transparent 10px, transparent 15px, var(--mochila_before_roxo) 5px, var(--mochila_before_roxo) 18px, transparent 18px, transparent 100px), linear-gradient(to right,  var(--mochila_before_vermelho) 10px,  var(--mochila_before_vermelho) 10px, transparent 10px, transparent 16px,  var(--mochila_before_vermelho) 9px,  var(--mochila_before_vermelho) 50px), linear-gradient(to bottom,  var(--mochila_before_vermelho) 8px,  var(--mochila_before_vermelho) 16px, var(--mochila_before_roxo) 8px, var(--mochila_before_roxo) 30px,  var(--mochila_before_vermelho) 20px,  var(--mochila_before_vermelho) 72px,  var(--mochila_before_vermelho) 10px,  var(--mochila_before_vermelho) 57px,  var(--mochila_before_vermelho) 5%);
    margin-left: 22px;
    margin-top: 58px;
    border: 4px solid var(--mochila_before_roxo);
    border-radius: 11px;
    box-shadow: 0 4px 0 0 var(--mochila_back_img_vermelho), inset 0px 4px 1px 0 var(--mochila_before_box_shadow_vermelho);
    content: '||';
    color: transparent;
    font-family: Comic Sans MS;
    font-weight: bold;
    z-index: 1;
    text-shadow: rgb(0, 0, 0) -2px -86px 0px;
    font-size: 14px;
}
  
.mochila:after {
    margin-left: 67px;
    margin-top: -30px;
    background: var(--mochila_after_back);
    width:26px;
    height:26px;
    border: 3px solid var(--mochila_before_roxo);
    border-radius: 3px;
    transform: rotate(45deg);
}

.adicionar {
    width: 100%;
}

.adicionar input {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0 1em;
    padding: 1em 0.5em;
    border-radius: 10px;
    border: 2px solid var(--cadastrar_roxo);
}

.adicionar label {
    display: block;
}

.cadastrar {
    background-color: var(--cadastrar_roxo);
    color: var(--branco);
    cursor: pointer;
}

.lista {
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
    padding: 0.6em 2em;
    background: var(--branco);
    border-radius: 10px;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
}

.item strong {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: var(--areia_back);
    font-weight: 400;
}

